<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Oblicza Kalisza</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% endblock %}
  </head>
  <body>
    <div class="container">

      <div class="header">
          <img src="{{ url_for('static', filename='background.png')}}" width="100%">
      </div>
      
      {% if message %}
      <div class="message">
        {% block message %}
          {{ message }}
        {% endblock %}
      </div>
      {% endif %}
     
      <div class="content">
          {% block content %}{% endblock %}
      </div>

      <div class="footer">
          Organizator Gry Miejskiej:
          <a href="https://www.facebook.com/ObliczaKalisza"><img src="{{ url_for('static', filename='fb.png')}}">Oblicza Kalisza</a> | 
          <a href="https://www.facebook.com/drogazhr"><img src="{{ url_for('static', filename='fb.png')}}">ZHR Kalisz</a>
      </div>

    </div>
  </body>
</html>