{% extends "layout.html" %}

    {% block content %}
    <div class="title">
        Przyznawanie uprawnień punktowego
    </div>
    <hr>
    <div class="centered">
        <form method="POST" action="/register_character">
            <label for="id">Wybierz lokalizację swojego punktu:</label>
            <br>
            <br>
                <select name="id" id="id" style="max-width: 100%;">
                    {% for data in data %}
                        <option value="{{ data[0] }}">{{ data[0] }}. {{ data[1] }}</option>
                    {% endfor %}
                </select>
            <br>
            <br>
            <!-- <div class="centered">
                <label for="id">Podaj numer dzielnicy</label>
                <input name="id" id="id" type="text">
            </div> -->
            <div class="buttons">
                <input class="button" type="submit" name="save" value="ZAPISZ">
            </div>
            <br>
            <div style="font-style: italic; font-size: 16px; @media screen and (max-width: 1000px) {font-size: 3vw;} text-align: center;">Aplikacja do swojego działania wykorzystuje pliki cookie, które w Twoim telefonie nie dotrwają do jutra :)</div>
        </form>
    </div>
    {% endblock %}